html, body {
  height: 100%;
  width: 100%;
  --primary500: #4d3aa8;
  --primary400: #7c70e9;
  --primary300: #a398f8;
  --primary200: #e1dff6;
  --primary100: #f2f2ff;
  --secondary500: #125a95;
  --secondary400: #70afe9;
  --secondary300: #c5e3ff;
  --secondary200: #d9edff;
  --secondary100: #f2f8ff;
  --accent500: #094b61;
  --accent400: #216c79;
  --accent300: #46a3a0;
  --gray500: #565f67;
  --gray400: #969fa7;
  --gray300: #d5d9dc;
  --gray200: #e3e5e8;
  --gray100: #f4f5f6;
  --dark: #2d2d2d;
  --light: #ffffff;
}

@media (min-width: 576px) {
  .h1-bold {
    color: var(--gray500);
    font-size: 36px !important;
    font-weight: 900;
    font-family: Roboto, sans-serif;
  }
}

.h1-bold {
  color: var(--gray500);
  font-size: 24px;
  font-weight: 900;
  font-family: Roboto, sans-serif;
}

@media (min-width: 576px) {
  .h1-clear {
    color: var(--gray400);
    font-size: 36px !important;
    font-weight: 200;
    font-family: Roboto, sans-serif;
  }
}

.h1-clear {
  color: var(--gray400);
  font-size: 24px;
  font-weight: 200;
  font-family: Roboto, sans-serif;
}

.subtitle {
  font-family: Roboto, sans-serif;
  color: var(--gray400);
  font-size: 12px;
  font-weight: 300;
  line-height: 4px;
  letter-spacing: 0px;
  padding-left: 2px;
}

@media (min-width: 576px) {
  .subtitle {
    font-family: Roboto, sans-serif;
    color: var(--gray400);
    font-size: 16px;
    font-weight: 300;
    line-height: 4px;
    letter-spacing: 0px;
    padding-left: 2px;
  }
}

.title {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: var(--gray500);
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 24px;
}

@media (min-width: 576px) {
  .title {
    text-align: center;
    font-family: Roboto, sans-serif;
    color: var(--gray500);
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 48px;
  }
}

@media (min-width: 576px) {
  .h2-title {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px !important;
    color: var(--gray500);
  }
}

.h2-title {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--gray500);
}

@media (min-width: 768px) {
  .text {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: var(--gray500);
    font-size: 16px !important;
  }
}

.text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: var(--gray500);
  font-size: 12px;
}

@media (min-width: 576px) {
  .card-secondary-large {
    background: var(--secondary300);
    border-radius: 80px;
    box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
    padding: 32px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.card-secondary-large {
  background: var(--secondary300);
  border-radius: 80px;
  box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .card-secondary-medium {
    background: var(--secondary200);
    padding: 32px;
    border-radius: 80px;
    height: 300px;
    font-family: Roboto, sans-serif;
    box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.card-secondary-medium {
  background: var(--secondary200);
  padding: 32px;
  border-radius: 80px;
  font-family: Roboto, sans-serif;
  box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .card-secondary-small {
    background: var(--secondary100);
    border-radius: 80px;
    height: 200px;
    font-family: Roboto, sans-serif;
    box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 80px;
  }
}

.card-secondary-small {
  background: var(--secondary100);
  padding-bottom: 8px;
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 80px;
  font-family: Roboto, sans-serif;
  box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .card-primary-large {
    background: var(--primary200);
    border-radius: 80px;
    box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
    padding: 32px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.card-primary-large {
  background: var(--primary200);
  border-radius: 80px;
  box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .card-primary-medium {
    background: var(--primary200);
    padding: 32px;
    border-radius: 80px;
    height: 300px;
    font-family: Roboto, sans-serif;
    box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.card-primary-medium {
  background: var(--primary200);
  padding: 32px;
  border-radius: 80px;
  font-family: Roboto, sans-serif;
  box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .card-primary-small {
    background: var(--primary100);
    border-radius: 80px;
    height: 200px;
    font-family: Roboto, sans-serif;
    box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 80px;
  }
}

.card-primary-small {
  background: var(--primary100);
  padding-bottom: 8px;
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 80px;
  font-family: Roboto, sans-serif;
  box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.card-position > * {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .card-position > * {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.col.card-small-top-margin {
  margin-top: 0px;
}

@media (min-width: 576px) {
  .col.card-small-top-margin {
    margin-top: 20px;
  }
}

.col.card-medium-top-margin {
  margin-top: 0px;
}

@media (min-width: 576px) {
  .col.card-medium-top-margin {
    margin-top: -80px;
  }
}

.col.card-large-top-margin {
  margin-top: 0px;
}

@media (min-width: 576px) {
  .col.card-large-top-margin {
    margin-top: -180px;
  }
}

@media (min-width: 768px) {
  .divider {
    height: 200px !important;
  }
}

.divider {
  height: 100px;
}

.extra-space {
  height: 20px;
}

@media (min-width: 768px) {
  .extra-space {
    height: 40px;
  }
}

.banner-margin-top {
  margin-top: -20px;
}

@media (min-width: 768px) {
  .banner-margin-top {
    margin-top: 8px;
  }
}

@media (min-width: 768px) {
  .person-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row !important;
    align-content: center;
  }
}

.person-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--gray300);
}

.page-footer {
  border-top: 1px solid var(--accent400);
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 576px) {
  .page-footer {
    border-top: 1px solid var(--accent400);
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 768px) {
  .page-footer {
    border-top: 1px solid var(--accent400);
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 30px;
  }
}

.card.clean-card {
  border-radius: 20px;
  border-width: 1px;
  border-color: #216C79;
}

.cover {
  margin-top: 60px;
  padding-right: 10px;
  padding-left: 10px;
}

.card_title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--accent400);
}

.card_desc {
  color: var(--accent400);
}

.btn.btn-primary {
  color: var(--primary100);
  background: var(--primary300);
  border-radius: 50px;
  border-width: 0px;
  font-family: Roboto, sans-serif;
  width: 250px;
  text-align: center;
}

.card_desc_container {
  margin-bottom: 30px;
}

.description {
  margin-right: 5px;
  margin-left: 5px;
  color: var(--accent400);
}

@media (min-width: 768px) {
  .description {
    margin-right: 200px;
    margin-left: 200px;
    color: var(--accent400);
  }
}

.social_title {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
  color: var(--accent400);
}

.button_section_container {
  justify-content: center;
  display: flex;
}

.page-section-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .page-section-heading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

.about-page-content-left {
  width: 800px;
  padding-right: 50px;
}

.about-page-content-right {
  display: none;
}

@media (min-width: 992px) {
  .about-page-content-right {
    display: block;
  }
}

